config.NODEMAILER_EMAIL_ADDRESS = "{{ NODEMAILER_EMAIL_ADDRESS }}";
config.NODEMAILER_EMAIL_PASSWORD = "{{ NODEMAILER_EMAIL_PASSWORD }}";
config.NODEMAILER_EMAIL_HOST = "{{ NODEMAILER_EMAIL_HOST }}";


